/*
 * Variables
 */

// Core Default Colors
$color-black: #000000;
$color-woodsmoke: #171718;
$color-shark: #262A2F;
$color-smalt-blue: #57788C;
$color-oslo-gray: #8D9197;
$color-boulder: #787878;
$color-wisteria: #1EAAE2;
$color-purple-mountains-majesty: #A07EBB;
$color-coral-tree: #AC7472;
$color-silver: #BDBDBD;
$color-white: #FFFFFF;

// Social Colors
$color-bitcoin: #FF9900;
$color-facebook: #3B5998;
$color-instagram: #387AA6;
$color-reddit: #FF5700;
$color-twitter: #1DA1F2;
$color-youtube: #FF0000;

// Font
$font-family-sans-serif: "Ubuntu", sans-serif;

// IonIcons
$ionicons-font-path: "/dependencies/Ionicons/fonts";
