<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <a href="/">
        <img src="/images/logo-icon.png" height="60px" />
      </a>
    </div>

    <div class="col-xs-10 text-right">
      <a href="#" class="btn btn-shark view-section hidden-xs" section="why-myriad" localization="header-why-myriad-button">Why Myriad?</a>
      <a href="#" class="btn btn-shark view-section" section="wallets" localization="header-wallets-button">Wallets</a>
      <a href="#" class="btn btn-shark view-section" section="buy" localization="header-buy-button">Buy</a>
      <a href="#" class="btn btn-shark view-section hidden-xs" section="mine" localization="header-mine-button">Mine</a>
      <a href="#" class="btn btn-shark view-section hidden-xs hidden-sm" section="resources" localization="header-resources-button">Resources</a>
      <a href="#" class="btn btn-wisteria dropdown-toggle open-language-dropdown" data-toggle="dropdown"><span localization="header-language-button">English</span> <i class="ion-arrow-down-b"></i></a>
      <div class="dropdown-menu language-dropdown">
        <div class="row">
          <div class="col-xs-6">
            <a href="/?lang=zh_CN">简体中文</a>
            <a href="/?lang=es">Español</a>
            <a href="/?lang=nl">Nederlands</a>
            <a href="/?lang=ko">한국의</a>
            <a href="/?lang=pl">Polski</a>
            <a href="/?lang=ja">日本語</a>
            <a href="/?lang=pt">Português</a>
            <a href="/?lang=ar">العربية</a>
          </div>

          <div class="col-xs-6">
            <a href="/?lang=en">English</a>
            <a href="/?lang=da">Dansk</a>
            <a href="/?lang=ru">Русский</a>
            <a href="/?lang=zh_TW">繁體中文</a>
            <a href="/?lang=it">Italiano</a>
            <a href="/?lang=fr">Français</a>
            <a href="/?lang=de">Deutsch</a>
            <a href="/?lang=ro">Română</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="hero" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-push-2 text-center">
      <h1 localization="hero-title">A Coin For Everyone.</h1>

      <a href="#" class="download-wallet btn btn-shark view-section" section="wallets" localization="hero-download-wallet-button">Download a Myriad Wallet</a>
      <br />
      <a href="#" class="download-wallet btn btn-shark view-section" section="mine" localization="hero-start-mining-button">Start Mining Myriad</a>
    </div>
  </div>

  <div class="learn-more-wrapper">
    <a href="#" class="learn-more view-section" section="why-myriad"><i class="ion-arrow-down-b"></i></a>
  </div>
</div>

<div id="main" class="container-fluid">
  <div id="why-myriad" class="section section-1 row">
    <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
      <h1 class="title" localization="why-myriad-section-header">Why Myriad?</h1>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="info-group text-center">
                <h5 class="color-smalt-blue" localization="why-myriad-multi-algorithm-title">Multi-Algorithm</h5>
                <p localization="why-myriad-multi-algorithm-text">Myriad is the first currency to support 5 algorithms, catering for ASIC, GPU and CPU mining. Currently, those algorithms consist of <b>SHA256d</b>, <b>Scrypt</b>, <b>Myr-Groestl</b>, <b>Skein</b> and <b>Yescrypt</b>.<br /><br />Myriad's multi algorithm approach offers exceptional 51% resistance because a range of different hardware is needed to find 51% of the blocks.</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="info-group">
                <h5 class="color-coral-tree" localization="why-myriad-merge-mining-title">Merge Mining</h5>
                <p localization="why-myriad-merge-mining-text">Merge mining is allowed on the <b>SHA256d</b> and <b>Scrypt</b> algorithms. This has enabled Myriad to take advantage of the huge hashrates currently in use by coins using these algorithms.<br /><br />Merge Mining, or AuxPow, allows the work being done for a parent coin (such as Bitcoin or Litecoin) to be used to find valid blocks on Myriad's blockchain.</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="info-group last">
                <h5 class="color-purple-mountains-majesty" localization="why-myriad-distribution-title">Distribution</h5>
                <p localization="why-myriad-distribution-text">Myriad was released to the wild on February 23, 2014 at 18:30 UTC. The <a href="http://insight-myr.cryptap.us/block/cb41589c918fba1beccca8bc6b34b2b928b4f9888595d7664afd6ec60a576291" target="_blank">first mined block</a> came 4 minutes later, thus establishing that there was no premine.<br /><br />The initial reward was 1,000 MYR, halving every 967,680 blocks (approximately 48 weeks). Total supply is approximately 2 billion MYR. Target block time is 60 seconds, or 300 seconds per algorithm.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="wallets" class="section section-2 row">
    <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
      <h1 class="title" localization="wallets-section-header">Wallets</h1>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="info-group text-center">
                <h5 localization="wallets-desktop-title">Desktop</h5>

                <div class="platform">
                  <h6>Windows</h6>
                  <a href="https://github.com/myriadteam/myriadcoin/releases/download/v0.14.2.3/myriadcoin-0.14.2.3-win32.zip" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> 32-bit ZIP</a>
                  <a href="https://github.com/myriadteam/myriadcoin/releases/download/v0.14.2.3/myriadcoin-0.14.2.3-win32-setup.exe" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> 32-bit Installer</a>
                  <a href="https://github.com/myriadteam/myriadcoin/releases/download/v0.14.2.3/myriadcoin-0.14.2.3-win64.zip" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> 64-bit ZIP</a>
                  <a href="https://github.com/myriadteam/myriadcoin/releases/download/v0.14.2.3/myriadcoin-0.14.2.3-win64-setup.exe" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> 64-bit Installer</a>
                </div>

                <div class="platform">
                  <h6>Mac OSX</h6>
                  <a href="https://github.com/myriadteam/myriadcoin/releases/download/v0.14.2.3/myriadcoin-0.14.2.3-osx.dmg" class="btn btn-shark" target="_blank"><i class="ion-social-apple"></i> OSX DMG</a>
                </div>

                <div class="platform">
                  <h6>Other Builds<h6>
                  <a href="https://github.com/myriadteam/myriadcoin/releases/tag/v0.14.2.3" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> View on GitHub</a>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3 text-center">
              <div class="info-group">
                <h5 localization="wallets-mobile-title">Mobile</h5>

                <div class="platform">
                  <h6>Android</h6>
                  <a href="https://play.google.com/store/apps/details?id=hashengineering.myriadcoin.wallet" class="btn btn-shark" target="_blank"><i class="ion-social-android"></i> Google Play Store</a>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3 text-center">
              <div class="info-group">
                <h5 localization="wallets-source-title">Source</h5>

                <div class="platform">
                  <h6>GitHub</h6>
                  <a href="https://github.com/myriadteam/myriadcoin/archive/v0.14.2.3.zip" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> Source Code zip (0.14.2.3)</a>
                  <a href="https://github.com/myriadteam/myriadcoin" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> Git Repository</a>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-3 text-center">
              <div class="info-group last">
                <h5 localization="wallets-other-title">Other</h5>

                <div class="platform">
                  <h6>Electrum</h6>
                  <a href="https://github.com/cryptapus/electrum-myr" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> GitHub</a>
                  <a href="https://cryptap.us/myr/electrum/Electrum_myr-2.7.17.0.tar.gz" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> Windows</a>
                  <a href="https://cryptap.us/myr/electrum/electrum-myr-2.7.17.0-setup.exe" class="btn btn-shark" target="_blank"><i class="ion-social-tux"></i> Linux</a>
                  <a href="https://cryptap.us/myr/electrum/electrum_myr-2.7.17.0-macosx.dmg" class="btn btn-shark" target="_blank"><i class="ion-social-apple"></i> Mac OSX</a>
                </div>

                <div class="platform">
                  <h6>JSWallet</h6>
                  <a href="https://cryptap.us/myr/jswallet" class="btn btn-shark" target="_blank"><i class="ion-code"></i> Latest JSWallet</a>
                </div>

                <div class="platform">
                  <h6>Brain Wallet</h6>
                  <a href="https://cryptap.us/myr/brainwallet" class="btn btn-shark" target="_blank"><i class="ion-happy"></i> Latest BrainWallet</a>
                </div>

                <div class="platform">
                  <h6>Paper Wallet</h6>
                  <a href="https://cryptap.us/myr/paperwallet.html" class="btn btn-shark" target="_blank"><i class="ion-document-text"></i> Latest Paper Wallet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="buy" class="section section-3 row">
    <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
      <h1 class="title" localization="buy-section-header">Buy</h1>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="info-group text-center">
                <div class="coinmarketcap-currency-widget" data-currency="myriad" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="info-group">
                <h5 localization="buy-exchanges-title">Exchanges</h5>
                <a href="https://bittrex.com/Market/Index?MarketName=BTC-XMY" class="btn btn-wisteria" target="_blank"><i class="ion-locked"></i> <span localization="buy-on-text">Buy on</span> Bittrex</a>
                <a href="https://www.nlexch.com/markets/xmybtc" class="btn btn-wisteria" target="_blank"><i class="ion-locked"></i> <span localization="buy-on-text">Buy on</span> NLexch</a>
                <a href="https://www.cryptopia.co.nz/Exchange?market=XMY_BTC" class="btn btn-wisteria" target="_blank"><i class="ion-locked"></i> <span localization="buy-on-text">Buy on</span> Cryptopia</a>
                <a href="https://www.litebit.eu/en/buy/myriadcoin" class="btn btn-wisteria" target="_blank"><i class="ion-locked"></i> <span localization="buy-on-text">Buy on</span> Litebit</a>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="info-group last">
                <h5 localization="buy-spend-title">Spend Myriad</h5>
                <p localization="buy-spend-text">Unlike many other cryptocurrencies, merchants around the world are already accepting Myriad!</p>
                <a href="https://www.coinpayments.net/store-directory-coin-XMY#list" class="btn btn-wisteria" target="_blank"><i class="ion-pricetags"></i> <span localization="buy-view-merchants-button">View Merchants</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="mine" class="section section-4 row">
    <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
      <h1 class="title" localization="mine-section-header">Mine</h1>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="info-group text-center">
                <h5 localization="mine-getting-started-title">Getting Started</h5>
                <p  localization="mine-getting-started-text">To mine Myriad, you'll need to first <a>download a wallet</a>. Then, one of the listed mining softwares and fire away! If you need a little help, you can <a href="https://www.youtube.com/watch?v=961LFNZjLlY">watch this YouTube tutorial</a>.</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="info-group">
                <h5 localization="mine-mining-software-title">Mining Software</h5>
                <p localization="mine-mining-software-text">Myriad supports a handful of different mining softwares. You can choose from the list below for what algorithm you want to mine with depending on how your mining rig or device is setup.</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="info-group last">
                <h5 localization="mine-mining-pools-title">Mining Pools</h5>
                <p localization="mine-mining-pools-text">You can mine Myriad through a number of pools. If you don't know what a mining pool is, you can <a href="https://en.wikipedia.org/wiki/Mining_pool">learn more here</a>. We've listed the pools that currently support mining and merge mining of Myriad below.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-sm-push-1 margin-top-20">
      <div class="panel">
        <div class="panel-body">
          <div class="info-group">
            <h5 class="text-center" localization="mine-available-mining-software-title">Available Mining Software</h5>

            <div class="platform">
              <h6>SHA256d</h6>
              <p localization="mine-sha256d-text">You may use any SHA256d compatible ASIC</p>
            </div>

            <div class="platform">
              <h6>Scrypt</h6>
              <p localization="mine-scrypt-text">You may use any Scrypt compatible ASIC</p>
            </div>

            <div class="platform">
              <h6>Myr-Groestl</h6>
              <p localization="mine-groestl-text">If you mine using Myr-Groestl, you have a few options.</p>

              <div class="mining-software">
                <h6>sgminer for OpenCL GPU mining</h6>
                <a href="https://bitcointalk.org/index.php?topic=632503.0" class="btn btn-shark" target="_blank"><i class="ion-social-bitcoin"></i> BitCoinTalk Thread</a>
                <a href="https://www.nicehash.com/index.jsp?p=software#amdgpu" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> Windows Binaries</a>
                <a href="https://github.com/sgminer-dev/sgminer" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> GitHub Source</a>

                <p localization="mine-suggested-command-line-text">Suggested Command Line</p>
                <p class="well code">sgminer --algorithm myriadcoin-groestl --no-extranonce -o {pool-URL} -O Username:Password</p>
              </div>

              <div class="mining-software">
                <h6>ccminer for CUDA GPU mining</h6>
                <a href="https://bitcointalk.org/?topic=770064" class="btn btn-shark" target="_blank"><i class="ion-social-bitcoin"></i> BitCoinTalk Thread</a>
                <a href="https://github.com/tpruvot/ccminer/releases/latest" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> Windows Binaries</a>
                <a href="https://github.com/tpruvot/ccminer" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> GitHub Source</a>

                <p localization="mine-suggested-command-line-text">Suggested Command Line</p>
                <p class="well code">ccminer -a myr-gr -o {pool-URL} -O Username:Password</p>
              </div>

              <div class="mining-software">
                <h6>cpuminer-multi for CPU mining</h6>
                <a href="https://bitcointalk.org/?topic=841401" class="btn btn-shark" target="_blank"><i class="ion-social-bitcoin"></i> BitCoinTalk Thread</a>
                <a href="https://github.com/tpruvot/cpuminer-multi/releases/latest" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> Windows Binaries</a>
                <a href="https://github.com/tpruvot/cpuminer-multi" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> GitHub Source</a>

                <p localization="mine-suggested-command-line-text">Suggested Command Line</p>
                <p class="well code">cpuminer -a myr-gr -o {pool-URL} -O Username:Password</p>
              </div>
            </div>

            <div class="platform">
              <h6>Skein</h6>
              <p localization="mine-skein-text">If you mine using Skein, you have a few options.</p>

              <div class="mining-software">
                <h6>cgminer for OpenCL GPU mining</h6>
                <a href="https://www.dropbox.com/s/uhbp9r6m8zzqnke/cgminer_skein.zip" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> Windows 32 bit</a>
                <a href="https://github.com/reorder/cgminer_skein" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> GitHub Source</a>

                <p localization="mine-suggested-command-line-text">Suggested Command Line</p>
                <p class="well code">cgminer --skein -o {pool-URL} -O Username:Password</p>
              </div>

              <div class="mining-software">
                <h6>cpuminer-multi for CPU mining</h6>
                <a href="https://bitcointalk.org/?topic=841401" class="btn btn-shark" target="_blank"><i class="ion-social-bitcoin"></i> BitCoinTalk Thread</a>
                <a href="https://github.com/tpruvot/cpuminer-multi/releases/latest" class="btn btn-shark" target="_blank"><i class="ion-social-windows"></i> Windows Binaries</a>
                <a href="https://github.com/tpruvot/cpuminer-multi" class="btn btn-shark" target="_blank"><i class="ion-social-github"></i> GitHub Source</a>

                <p localization="mine-suggested-command-line-text">Suggested Command Line</p>
                <p class="well code">cpuminer -a skein -o {pool-URL} -O Username:Password</p>
              </div>
            </div>

            <div class="platform">
              <h6>Yescrypt</h6>

              <div class="mining-software">
                <h6>CPUMiner Multi optimized</h6>
                <a href="https://bitcointalk.org/index.php?topic=1326803.0" class="btn btn-shark" target="_blank"><i class="ion-social-bitcoin"></i> BitCoinTalk Thread</a>

                <p localization="mine-suggested-command-line-text">Suggested Command Line</p>
                <p class="well code">cpuminer -a yescrypt -o {pool-URL} -u username -p password</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-sm-push-1 margin-top-20">
      <div class="panel">
        <div class="panel-body">
          <div class="info-group last">
            <h5 class="text-center" localization="mine-available-mining-pools-title">Available Mining Pools</h5>

            <div class="platform">
              <h6 localization="mine-p2pool-nodes-text">P2Pool nodes</h6>

              <div class="mining-pool">
                <h6>Myr-Groestl: New Zealand</h6>
                <p localization="mine-pool-url-text">Pool URL</p>
                <p class="well code">nz.nutty.one:5545</p>
              </div>

              <div class="mining-pool">
                <h6>Skein: New Zealand</h6>
                <p localization="mine-pool-url-text">Pool URL</p>
                <p class="well code">nz.nutty.one:5589</p>
              </div>

              <div class="mining-pool">
                <h6>Yescrypt</h6>
                <p class="well code" localization="mine-to-be-decided-text">To be decided</p>
              </div>

              <div class="mining-pool">
                <h6 localization="mine-run-your-own-node-text">Run Your Own Node</h6>
                <a href="https://github.com/nzsquirrell/p2pool-myriad" class="btn btn-shark" target="_blank"><i class="ion-network"></i> <span localization="mine-view-p2pool-instructions-button">View P2Pool Instructions</span></a>
              </div>
            </div>

            <div class="platform">
              <h6 localization="mine-other-pools-text">Other Pools</h6>

              <div class="mining-pool">
                <h6>SHA256d: Miningfield</h6>
                <p localization="mine-pool-url-text">Pool URL</p>
                <p class="well code">myrsha256.miningfield.com</p>
              </div>

              <div class="mining-pool">
                <h6>Myr-Groestl: Miners-pool eu</h6>
                <a href="https://www.miners-pool.eu/pools/myriadcoin-groestl" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>

              <div class="mining-pool">
                <h6>Myr-Groestl: Mining Pool Hub</h6>
                <a href="https://myriadcoin-groestl.miningpoolhub.com/" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>

              <div class="mining-pool">
                <h6>Yescrypt: Miners-pool eu</h6>
                <a href="https://www.miners-pool.eu/pools/myriadcoin-yescrypt" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>

              <div class="mining-pool">
                <h6>Yescrypt: Myriadcoin.tk Pool (with Unitus merged-mining)</h6>
                <p>Pool URL</p>
                <p class="well code">myriadcoin.tk</p>
              </div>

              <div class="mining-pool">
                <h6>Skein</h6>
                <a href="https://myriadcoin-skein.miningpoolhub.com/" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>
            </div>

            <div class="platform">
              <h6 localization="mine-merge-mining-pools-text">Merge Mining Pools</h6>

              <div class="mining-pool">
                <h6>SHA256d: zpool - The miners multipool</h6>
                <a href="http://www.zpool.ca/" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>

              <div class="mining-pool">
                <h6>SHA256d: MultiPool</h6>
                <a href="https://www.multipool.us/" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>

              <div class="mining-pool">
                <h6>Scrypt: zpool - The miners multipool</h6>
                <a href="http://www.zpool.ca/" class="btn btn-shark" target="_blank" localization="mine-view-pool-details-button">View Pool Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="resources" class="section section-5 row">
    <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
      <h1 class="title" localization="resources-section-header">Resources</h1>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="info-group text-center">
                <h5 class="color-smalt-blue" localization="resources-information-title">Information</h5>
                <a href="https://chainz.cryptoid.info/xmy/" class="btn btn-wisteria" target="_blank" localization="resources-cryptoid-explorer-button">CryptoID Explorer</a>
                <a href="http://insight-myr.cryptap.us/" class="btn btn-wisteria" target="_blank" localization="resources-insight-explorer-button">Insight Explorer</a>
                <a href="https://abe.myralicious.com/chain/Myriadcoin" class="btn btn-wisteria" target="_blank" localization="resources-abe-explorer-1-button">Abe Explorer 1 (myralicious.com)</a>
                <a href="https://cryptap.us/myr/explorer/chain/Myriadcoin" class="btn btn-wisteria" target="_blank" localization="resources-abe-explorer-2-button">Abe Explorer 2 (cryptap.us)</a>
                <a href="http://myriad.nutty.one/home" class="btn btn-wisteria" target="_blank" localization="resources-network-status-button">Network Status</a>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="info-group text-center">
                <h5 class="color-smalt-blue" localization="resources-social-title">Social</h5>
                <a href="https://www.reddit.com/r/myriadcoin/" class="btn btn-wisteria" target="_blank" localization="resources-reddit-button">Reddit</a>
                <a href="https://bitcointalk.org/index.php?topic=483515.0" class="btn btn-wisteria" target="_blank" localization="resources-bitcointalk-thread-button">BitcoinTalk Thread</a>
                <a href="https://twitter.com/myriadcoin" class="btn btn-wisteria" target="_blank" localization="resources-twitter-button">Twitter</a>
                <a href="https://www.facebook.com/themyriadplatform/" class="btn btn-wisteria" target="_blank" localization="resources-facebook-button">Facebook</a>
                <a href="http://webchat.freenode.net/?nick=myriad%7C...&channels=%23%23myriadcoin&uio=OT10cnVlJjExPTEyMyYxMj10cnVl38" class="btn btn-wisteria" target="_blank" localization="resources-irc-channel-button">IRC Channel</a>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="info-group text-center last">
                <h5 class="color-smalt-blue" localization="resources-other-title">Other</h5>
                <a href="http://trip.myrcraft.com/" class="btn btn-wisteria" target="_blank" localization="resources-game-faucet-button">Game Faucet</a>
                <a href="https://cryptap.us/myr/faucet/" class="btn btn-wisteria" target="_blank" localization="resources-faucet-button">Faucet</a>
                <a href="http://coinmarketcap.com/currencies/myriadcoin/" class="btn btn-wisteria" target="_blank" localization="resources-coinmarketcap-button">Coinmarketcap</a>
                <a href="https://www.reddit.com/r/myriadcoin/comments/47pww5/testnet_nodes_and_faucet/" class="btn btn-wisteria" target="_blank" localization="resources-testnet-information-button">Testnet Information</a>
                <a href="https://cryptap.us/myr/" class="btn btn-wisteria" target="_blank" localization="resources-cryptapus-myriad-page-button">Cryptap.us Myriad page</a>
                <a href="https://www.reddit.com/r/myrbot/wiki/index" class="btn btn-wisteria" target="_blank" localization="reddit-irc-myrbot-information-button">Reddit/IRC myrbot information</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-push-6 social-links">
      <a href="https://www.reddit.com/r/myriadcoin/" class="social-link-reddit" target="_blank">
        <i class="ion-social-reddit"></i>
      </a>

      <a href="https://bitcointalk.org/index.php?topic=483515.0" class="social-link-bitcoin" target="_blank">
        <i class="ion-social-bitcoin"></i>
      </a>

      <a href="https://twitter.com/myriadcoin" class="social-link-twitter" target="_blank">
        <i class="ion-social-twitter"></i>
      </a>

      <a href="https://www.facebook.com/themyriadplatform/" class="social-link-facebook" target="_blank">
        <i class="ion-social-facebook"></i>
      </a>
    </div>

    <div class="col-xs-12 col-sm-5 col-sm-pull-4 legal">
      <p class="copyright">&copy; Myriad</p>
    </div>
  </div>
<div>

<!-- Coin Market Cap Widget -->
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69532365-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-69532365-1');
</script>

<!-- Heatmap Tracking - Crazy Egg -->
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0071/3587.js" async="async"></script>
